<div class="ui middle aligned center aligned grid container">
    <div class="row"></div>
    <div class="row">
        <div class="column">
            <div class="ui normal message">
                <div class="ui left aligned header">注册成功</div>
                <ul class="list">
                    <li>5秒后会自动返回到登录页面</li>
                    <li>
                        <span>返回</span>
                        <a href="account/login">登录</a>
                        <span>页面</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row"></div>
</div>