<div class="ui middle aligned center aligned grid container">
    <div class="row"></div>
    <div class="row">
        <div class="column">
            <h1 class="ui blue normal header">
                <div class="content">找回密码</div>
            </h1>
            <div class="ui large form">
                <div class="ui left aligned padded segment">
                    <div class="field">
                        <div class="ui left icon input">
                            <i class="icon phone"></i>
                            <input type="text" name="phone-number" id="phone-number" placeholder="请输入手机号码">
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui action left icon input">
                            <i class="icon hashtag"></i>
                            <input type="text" name="phone-validate-code" id="phone-validate-code" placeholder="请输入手机验证码">
                            <button class="ui button phone-validate-code">获取验证码</button>
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui action left icon input">
                            <i class="icon hashtag"></i>
                            <input type="text" name="validate-code" id="validate-code" placeholder="请输入验证码">
                            <button class="ui basic button validate-code"></button>
                        </div>
                    </div>
                    <button class="ui fluid large normal primary button">确定</button>
                </div>
            </div>
            <div class="ui normal message error">
                <i class="ui icon close"></i>
                <div class="ui left aligned header">错误</div>
                <ul class="list">
                    <li>错误信息</li>
                    <li>错误信息</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row"></div>
</div>