<div class="ui middle aligned center aligned grid container">
    <div class="row"></div>
    <div class="row">
        <div class="column">
            <h1 class="ui blue normal header">
                <div class="content">重置密码</div>
            </h1>
            <div class="ui large form">
                <div class="ui left aligned padded segment">
                    <div class="field">
                        <div class="ui left icon input">
                            <i class="icon lock"></i>
                            <input type="password" name="password" id="password" placeholder="请输入新密码">
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui left icon input">
                            <i class="icon lock"></i>
                            <input type="password" name="password-repeat" id="password-repeat" placeholder="请输入确认密码">
                        </div>
                    </div>
                    <button class="ui fluid large normal primary button">确定</button>
                </div>
            </div>
            <div class="ui normal message error">
                <i class="ui icon close"></i>
                <div class="ui left aligned header">错误</div>
                <ul class="list">
                    <li>错误信息</li>
                    <li>错误信息</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row"></div>
</div>